@charset "UTF-8";
/* Обнуление первоначальных настроек стилей в браузере */
/* Обращаемся ко всем элементам верстки */
* {
  /*Убираем внутренние отступы*/
  padding: 0;
  /*Убираем внешние отступы*/
  margin: 0;
  /*Убираем границы*/
  border: 0;
}

*,
*:before,
*:after {
  /*Меняет подсчёт ширины блока для удобства*/
  box-sizing: border-box;
}

/*Убираем линии обводки*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*Перечисляем некоторые тэги и добавляем им значение блочных*/
nav,
footer,
header,
aside {
  display: block;
}

/*Уравниваем поведение шрифтов и элементов для разных браузеров, запрещают сомовольное увелечение шрифта*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Назначаем тэгам определенное семейство шрифта*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  background-image: url("../шаблон с scss/img/bg.svg");
  background-size: cover;
  text-align: center;
  font-size: 10px;
}

body {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  text-align: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid #fff;
  border-radius: 50%;
  position: relative;
  padding: 2rem;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.09s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.clock_table {
  width: 80rem;
  height: 15rem;
  border: 20px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.clock_table span {
  color: #fff;
  font-size: 8rem;
}

.clock__section {
  flex: 0 1 32%;
  position: relative;
}
.clock__section span {
  color: #fff;
  font-size: 8rem;
}